---
---
$primary: #40626c;
// Import Main CSS file from theme
@import "main";
@font-face {font-family: "Facile Sans"; src: url("//db.onlinewebfonts.com/t/286e8cea636c4520dc3d1a4df56f52cf.eot"); src: url("//db.onlinewebfonts.com/t/286e8cea636c4520dc3d1a4df56f52cf.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/286e8cea636c4520dc3d1a4df56f52cf.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/286e8cea636c4520dc3d1a4df56f52cf.woff") format("woff"), url("//db.onlinewebfonts.com/t/286e8cea636c4520dc3d1a4df56f52cf.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/286e8cea636c4520dc3d1a4df56f52cf.svg#Facile Sans") format("svg"); }
.navbar.is-primary {
    background-color: #25383e;
    color: #fff;
};
.navbar.is-primary .navbar-start>a.navbar-item:focus, .navbar.is-primary .navbar-start>a.navbar-item:hover, .navbar.is-primary .navbar-start>a.navbar-item.is-active, .navbar.is-primary .navbar-start .navbar-link:focus, .navbar.is-primary .navbar-start .navbar-link:hover, .navbar.is-primary .navbar-start .navbar-link.is-active, .navbar.is-primary .navbar-end>a.navbar-item:focus, .navbar.is-primary .navbar-end>a.navbar-item:hover, .navbar.is-primary .navbar-end>a.navbar-item.is-active, .navbar.is-primary .navbar-end .navbar-link:focus, .navbar.is-primary .navbar-end .navbar-link:hover, .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: #25383e;
    color: #fff;
};
@media (max-width:629px) {
  .title.is-2 {
    display: none;
  };
};
.hero.is-primary.is-bold {
    background-image: url(img/CSL_banner_background.svg);
    background-size: 70%;
    max-height: 250px;
};
.navbar.is-primary .navbar-brand>.navbar-item, .navbar.is-primary .navbar-brand .navbar-link {
    color: #fff;
    font-family: "Facile Sans";
}
.hero-body {
    font-family: "Facile Sans";
};
.subtitle.is-3 {
    font-size: 2rem;
    margin-left: 20%;
};
.hero.is-medium .hero-body {
    padding: 4.5rem 1.5rem;
};
.title:not(.is-spaced) + .subtitle {
    //margin-top: -1.25rem;
    margin-top: 0rem;
}
.title.is-2 {
    font-size: 2rem;
    margin-left: 7%;
    position: absolute;
    content: url(img/csl_logo.svg);
    transform: scale(2.0);
    margin-top: 1%;
};
.navbar-brand, .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    max-height: 1rem;
};
.navbar-brand:before {
    content: url(img/csl_logo.svg);
    transform: scale(.6);
    margin-bottom: 100%;
    /*background-image: url(img/csl_logo.svg);
    background-size: contain;
    height: 100px;
    width: 100px;*/
};

