---
---
$primary: #40626c;
// Import Main CSS file from theme
@import "main";
@font-face {font-family: "Facile Sans"; src: url(286e8cea636c4520dc3d1a4df56f52cf.eot); src: url(286e8cea636c4520dc3d1a4df56f52cf.eot) format("embedded-opentype"), url(286e8cea636c4520dc3d1a4df56f52cf.woff2) format("woff2"), url(286e8cea636c4520dc3d1a4df56f52cf.woff) format("woff"), url(286e8cea636c4520dc3d1a4df56f52cf.ttf) format("truetype"), url(286e8cea636c4520dc3d1a4df56f52cf.svg) format("svg"); }
.navbar.is-primary {
    background-color: #25383e;
    color: #fff;
};
.navbar.is-primary .navbar-start>a.navbar-item:focus, .navbar.is-primary .navbar-start>a.navbar-item:hover, .navbar.is-primary .navbar-start>a.navbar-item.is-active, .navbar.is-primary .navbar-start .navbar-link:focus, .navbar.is-primary .navbar-start .navbar-link:hover, .navbar.is-primary .navbar-start .navbar-link.is-active, .navbar.is-primary .navbar-end>a.navbar-item:focus, .navbar.is-primary .navbar-end>a.navbar-item:hover, .navbar.is-primary .navbar-end>a.navbar-item.is-active, .navbar.is-primary .navbar-end .navbar-link:focus, .navbar.is-primary .navbar-end .navbar-link:hover, .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: #25383e;
    color: #fff;
};
@media (max-width:900px) {
    .title.is-2 {
        display: none;
    };
};
@media (max-width:900px) {
    .hero.is-medium .hero-body {
        padding: 0rem 0rem;
    };
};
.hero.is-primary.is-bold {
    background-image: url(img/CSL_banner_background.svg);
    background-size: 70%;
    max-height: 250px;
};
.navbar.is-primary .navbar-brand>.navbar-item, .navbar.is-primary .navbar-brand .navbar-link {
    color: #fff;
    font-family: "Facile Sans";
}
.hero-body {
    font-family: "Facile Sans";
};
.subtitle.is-3 {
    font-size: 2rem;
    margin-left: 20%;
};
.hero.is-medium .hero-body {
    padding: 4.5rem 1.5rem;
};
.title:not(.is-spaced) + .subtitle {
    //margin-top: -1.25rem;
    margin-top: 0rem;
}
.card-header-title {
    font-size: x-large;
}
.card-header2.title2.is-4 {
    font-size: 1.0rem;
    color: #363636;
}
.title.is-2 {
    font-size: 2rem;
    margin-left: 7%;
    position: absolute;
    //content: url(img/csl_logo.svg);
    //transform: scale(2.0);
    margin-top: 1%;
};
.csl-logo {
    content: url(img/csl_logo.svg);
    transform: scale(2.0);
}
.navbar-brand, .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    max-height: 1rem;
};
.navbar-brand:before {
    content: url(img/csl_logo.svg);
    transform: scale(.6);
    margin-bottom: 100%;
    /*background-image: url(img/csl_logo.svg);
    background-size: contain;
    height: 100px;
    width: 100px;*/
};
html {
    background-color: #f5f5f5;
};
#desc {
    text-align: center;
    font-size: 26px;
    margin: 0px 17%;
    margin-top: 5%;
};
.textbf { 
    color: #e55d00;
    font-weight: bold;
};
.fas.img-outline.fa-4x {
    content: url(img/csl_logo_outline.svg);
    transform: scale(1.5);
};
.fas.img-thinking.fa-4x {
    content: url(img/thinking_csl.svg);
    transform: scale(1.5);
};
.fas.img-noticias.fa-4x {
    content: url(img/news.svg);
    transform: scale(1.5);
};
.fas.img-tutoriais.fa-4x {
    content: url(img/tutorials.svg);
    transform: scale(1.5);
};
.fas.img-contato.fa-4x {
    content: url(img/contato.svg);
    transform: scale(1.5);
};
#blog {
    text-align: justify;
    padding: 0px 20% 0px 20%;
};
#blog-menu {
      margin-right: -20%;
};
