html,
body {
    margin: 0;
    background: #40626c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-content: center;
    justify-content: center;
}

img[alt="logo"] {
    height: 100px;
    margin-right: 10px;
}

.name {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;

    height: 100%;
    white-space: nowrap;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0
}

li {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 40px;
    position: relative;
    display: inline-block;
}
li p{
    margin: 0
}
li div{
    position: absolute;
    background: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
}
li:hover div{
    opacity: 1;
    transition: opacity .2s linear
}
li div a{
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
}li div a:hover{
    background: #eee
}

li p:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0;
    content: "";
    border-top: 0.5em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
article{
    display: flex;
    align-content: center;
    justify-content: center;
}

article div {
    margin: 0 5%;
    max-width: 800px;
    padding: 40px 80px;
    background: #fff;
}

.text,
.author {
    color: rgba(0, 0, 0, .6)
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    font-style: italic;
    color: #000
}

.author {
    font-weight: 700;
}
footer {
    text-align: center;
    padding: 15px
}